@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text overflow-hidden select-none antialiased;
  }
}

@layer utilities {
  .drag-region {
    -webkit-app-region: drag;
  }
  .no-drag-region {
    -webkit-app-region: no-drag;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-card rounded-full;
  border: 2px solid theme('colors.background');
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-muted;
}
